[data-theme='unikorn'] {
	--text-scaling: 1;
	--base-font-color: var(--color-surface-950);
	--base-font-color-dark: var(--color-surface-50);
	--base-font-family: system-ui;
	--base-font-size: inherit;
	--base-line-height: inherit;
	--base-font-weight: normal;
	--base-font-style: normal;
	--base-letter-spacing: 0em;
	--heading-font-color: inherit;
	--heading-font-color-dark: inherit;
	--heading-font-family: inherit;
	--heading-font-weight: bold;
	--heading-font-style: normal;
	--heading-letter-spacing: inherit;
	--anchor-font-color: var(--color-primary-500);
	--anchor-font-color-dark: var(--color-primary-400);
	--anchor-font-family: inherit;
	--anchor-font-size: inherit;
	--anchor-line-height: inherit;
	--anchor-font-weight: inherit;
	--anchor-font-style: inherit;
	--anchor-letter-spacing: inherit;
	--anchor-text-decoration: none;
	--anchor-text-decoration-hover: underline;
	--anchor-text-decoration-active: none;
	--anchor-text-decoration-focus: none;
	--spacing: 0.25rem;
	--radius-base: 0.5rem;
	--radius-container: 0.5rem;
	--default-border-width: 1px;
	--default-divide-width: 1px;
	--default-ring-width: 1px;
	--body-background-color: var(--color-surface-50);
	--body-background-color-dark: var(--color-surface-950);
	--color-primary-50: oklch(93.41% 0.01 196.8deg);
	--color-primary-100: oklch(85.76% 0.03 196.6deg);
	--color-primary-200: oklch(78.27% 0.04 196.3deg);
	--color-primary-300: oklch(70.43% 0.06 195.93deg);
	--color-primary-400: oklch(62.9% 0.07 195.54deg);
	--color-primary-500: oklch(55.17% 0.08 195.15deg);
	--color-primary-600: oklch(51.12% 0.07 195.16deg);
	--color-primary-700: oklch(46.98% 0.06 195.17deg);
	--color-primary-800: oklch(42.79% 0.06 195.21deg);
	--color-primary-900: oklch(38.45% 0.05 195.24deg);
	--color-primary-950: oklch(33.99% 0.04 195.27deg);
	--color-primary-contrast-dark: var(--color-primary-950);
	--color-primary-contrast-light: var(--color-primary-50);
	--color-primary-contrast-50: var(--color-primary-contrast-dark);
	--color-primary-contrast-100: var(--color-primary-contrast-dark);
	--color-primary-contrast-200: var(--color-primary-contrast-dark);
	--color-primary-contrast-300: var(--color-primary-contrast-dark);
	--color-primary-contrast-400: var(--color-primary-contrast-dark);
	--color-primary-contrast-500: var(--color-primary-contrast-light);
	--color-primary-contrast-600: var(--color-primary-contrast-light);
	--color-primary-contrast-700: var(--color-primary-contrast-light);
	--color-primary-contrast-800: var(--color-primary-contrast-light);
	--color-primary-contrast-900: var(--color-primary-contrast-light);
	--color-primary-contrast-950: var(--color-primary-contrast-light);
	--color-secondary-50: oklch(90.82% 0.01 196.78deg);
	--color-secondary-100: oklch(80.4% 0.01 196.77deg);
	--color-secondary-200: oklch(69.42% 0.02 196.61deg);
	--color-secondary-300: oklch(58.22% 0.03 196.3deg);
	--color-secondary-400: oklch(46.38% 0.04 195.89deg);
	--color-secondary-500: oklch(34.32% 0.04 195.26deg);
	--color-secondary-600: oklch(31.9% 0.04 195.31deg);
	--color-secondary-700: oklch(29.73% 0.04 195.31deg);
	--color-secondary-800: oklch(27.21% 0.03 195.38deg);
	--color-secondary-900: oklch(24.95% 0.03 195.39deg);
	--color-secondary-950: oklch(22.33% 0.02 195.5deg);
	--color-secondary-contrast-dark: var(--color-secondary-950);
	--color-secondary-contrast-light: var(--color-secondary-50);
	--color-secondary-contrast-50: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-100: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-200: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-300: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-400: var(--color-secondary-contrast-light);
	--color-secondary-contrast-500: var(--color-secondary-contrast-light);
	--color-secondary-contrast-600: var(--color-secondary-contrast-light);
	--color-secondary-contrast-700: var(--color-secondary-contrast-light);
	--color-secondary-contrast-800: var(--color-secondary-contrast-light);
	--color-secondary-contrast-900: var(--color-secondary-contrast-light);
	--color-secondary-contrast-950: var(--color-secondary-contrast-light);
	--color-tertiary-50: oklch(92.12% 0.01 196.81deg);
	--color-tertiary-100: oklch(83.09% 0.02 196.69deg);
	--color-tertiary-200: oklch(73.86% 0.03 196.44deg);
	--color-tertiary-300: oklch(64.38% 0.04 196.09deg);
	--color-tertiary-400: oklch(54.78% 0.05 195.67deg);
	--color-tertiary-500: oklch(45.05% 0.06 195.18deg);
	--color-tertiary-600: oklch(41.76% 0.06 195.2deg);
	--color-tertiary-700: oklch(38.45% 0.05 195.24deg);
	--color-tertiary-800: oklch(35.36% 0.05 195.25deg);
	--color-tertiary-900: oklch(31.9% 0.04 195.31deg);
	--color-tertiary-950: oklch(28.3% 0.03 195.35deg);
	--color-tertiary-contrast-dark: var(--color-tertiary-950);
	--color-tertiary-contrast-light: var(--color-tertiary-50);
	--color-tertiary-contrast-50: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-100: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-200: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-300: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-400: var(--color-tertiary-contrast-light);
	--color-tertiary-contrast-500: var(--color-tertiary-contrast-light);
	--color-tertiary-contrast-600: var(--color-tertiary-contrast-light);
	--color-tertiary-contrast-700: var(--color-tertiary-contrast-light);
	--color-tertiary-contrast-800: var(--color-tertiary-contrast-light);
	--color-tertiary-contrast-900: var(--color-tertiary-contrast-light);
	--color-tertiary-contrast-950: var(--color-tertiary-contrast-light);
	--color-success-50: oklch(94.63% 0.05 145.16deg);
	--color-success-100: oklch(88.64% 0.1 144.69deg);
	--color-success-200: oklch(83.11% 0.14 144.13deg);
	--color-success-300: oklch(78.26% 0.19 143.49deg);
	--color-success-400: oklch(73.85% 0.22 142.93deg);
	--color-success-500: oklch(70.11% 0.23 142.56deg);
	--color-success-600: oklch(64.62% 0.22 142.57deg);
	--color-success-700: oklch(59.31% 0.2 142.58deg);
	--color-success-800: oklch(53.57% 0.18 142.59deg);
	--color-success-900: oklch(47.99% 0.16 142.62deg);
	--color-success-950: oklch(41.92% 0.14 142.64deg);
	--color-success-contrast-dark: var(--color-success-950);
	--color-success-contrast-light: var(--color-success-50);
	--color-success-contrast-50: var(--color-success-contrast-dark);
	--color-success-contrast-100: var(--color-success-contrast-dark);
	--color-success-contrast-200: var(--color-success-contrast-dark);
	--color-success-contrast-300: var(--color-success-contrast-dark);
	--color-success-contrast-400: var(--color-success-contrast-dark);
	--color-success-contrast-500: var(--color-success-contrast-dark);
	--color-success-contrast-600: var(--color-success-contrast-dark);
	--color-success-contrast-700: var(--color-success-contrast-light);
	--color-success-contrast-800: var(--color-success-contrast-light);
	--color-success-contrast-900: var(--color-success-contrast-light);
	--color-success-contrast-950: var(--color-success-contrast-light);
	--color-warning-50: oklch(96.57% 0.03 88.04deg);
	--color-warning-100: oklch(92.86% 0.07 89.46deg);
	--color-warning-200: oklch(89.22% 0.1 87.97deg);
	--color-warning-300: oklch(85.84% 0.13 87.69deg);
	--color-warning-400: oklch(82.58% 0.15 85.01deg);
	--color-warning-500: oklch(79.61% 0.16 81.72deg);
	--color-warning-600: oklch(73.52% 0.15 81.66deg);
	--color-warning-700: oklch(67.2% 0.14 82.03deg);
	--color-warning-800: oklch(60.84% 0.12 81.98deg);
	--color-warning-900: oklch(54.19% 0.11 82.5deg);
	--color-warning-950: oklch(47.45% 0.09 82.51deg);
	--color-warning-contrast-dark: var(--color-warning-950);
	--color-warning-contrast-light: var(--color-warning-50);
	--color-warning-contrast-50: var(--color-warning-contrast-dark);
	--color-warning-contrast-100: var(--color-warning-contrast-dark);
	--color-warning-contrast-200: var(--color-warning-contrast-dark);
	--color-warning-contrast-300: var(--color-warning-contrast-dark);
	--color-warning-contrast-400: var(--color-warning-contrast-dark);
	--color-warning-contrast-500: var(--color-warning-contrast-dark);
	--color-warning-contrast-600: var(--color-warning-contrast-dark);
	--color-warning-contrast-700: var(--color-warning-contrast-light);
	--color-warning-contrast-800: var(--color-warning-contrast-light);
	--color-warning-contrast-900: var(--color-warning-contrast-light);
	--color-warning-contrast-950: var(--color-warning-contrast-light);
	--color-error-50: oklch(92.58% 0.03 344.14deg);
	--color-error-100: oklch(84.19% 0.08 345.46deg);
	--color-error-200: oklch(76.16% 0.12 346.36deg);
	--color-error-300: oklch(68.68% 0.16 348.4deg);
	--color-error-400: oklch(62.21% 0.2 350.59deg);
	--color-error-500: oklch(57.19% 0.22 354.27deg);
	--color-error-600: oklch(52.91% 0.2 354.17deg);
	--color-error-700: oklch(48.54% 0.18 354.06deg);
	--color-error-800: oklch(43.84% 0.16 353.49deg);
	--color-error-900: oklch(39.26% 0.15 353.25deg);
	--color-error-950: oklch(34.55% 0.13 352.92deg);
	--color-error-contrast-dark: var(--color-error-950);
	--color-error-contrast-light: var(--color-error-50);
	--color-error-contrast-50: var(--color-error-contrast-dark);
	--color-error-contrast-100: var(--color-error-contrast-dark);
	--color-error-contrast-200: var(--color-error-contrast-dark);
	--color-error-contrast-300: var(--color-error-contrast-dark);
	--color-error-contrast-400: var(--color-error-contrast-light);
	--color-error-contrast-500: var(--color-error-contrast-light);
	--color-error-contrast-600: var(--color-error-contrast-light);
	--color-error-contrast-700: var(--color-error-contrast-light);
	--color-error-contrast-800: var(--color-error-contrast-light);
	--color-error-contrast-900: var(--color-error-contrast-light);
	--color-error-contrast-950: var(--color-error-contrast-light);
	--color-surface-50: oklch(100% 0 none);
	--color-surface-100: oklch(97.91% 0 none);
	--color-surface-200: oklch(95.86% 0 67.9deg);
	--color-surface-300: oklch(93.95% 0 106.02deg);
	--color-surface-400: oklch(91.88% 0 91.29deg);
	--color-surface-500: oklch(89.75% 0 91.3deg);
	--color-surface-600: oklch(77.97% 0 84.44deg);
	--color-surface-700: oklch(65.72% 0 67.85deg);
	--color-surface-800: oklch(53.06% 0 106.29deg);
	--color-surface-900: oklch(39.38% 0 106.18deg);
	--color-surface-950: oklch(24.35% 0 none);
	--color-surface-contrast-dark: var(--color-surface-950);
	--color-surface-contrast-light: var(--color-surface-50);
	--color-surface-contrast-50: var(--color-surface-contrast-dark);
	--color-surface-contrast-100: var(--color-surface-contrast-dark);
	--color-surface-contrast-200: var(--color-surface-contrast-dark);
	--color-surface-contrast-300: var(--color-surface-contrast-dark);
	--color-surface-contrast-400: var(--color-surface-contrast-dark);
	--color-surface-contrast-500: var(--color-surface-contrast-dark);
	--color-surface-contrast-600: var(--color-surface-contrast-light);
	--color-surface-contrast-700: var(--color-surface-contrast-light);
	--color-surface-contrast-800: var(--color-surface-contrast-light);
	--color-surface-contrast-900: var(--color-surface-contrast-light);
	--color-surface-contrast-950: var(--color-surface-contrast-light);
}
