apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Release.Name }}
  labels:
    {{- include "unikorn.labels" . | nindent 4 }}
spec:
  replicas: 1
  selector:
    matchLabels:
      app: {{ .Release.Name }}
  template:
    metadata:
      labels:
        app: {{ .Release.Name }}
    spec:
      containers:
      - name: {{ .Release.Name }}
        image: {{ include "unikorn-ui.image" . }}
        ports:
        - name: http
          containerPort: 3000
        resources:
          requests:
            cpu: 50m
            memory: 50Mi
          limits:
            cpu: 100m
            memory: 100Mi
        env:
        - name: PUBLIC_APPLICATION_VERSION
          value: {{ .Chart.Version }}
        - name: PUBLIC_IDENTITY_HOST
          value: https://{{ include "unikorn.identity.host" . }}
        - name: PUBLIC_REGION_HOST
          value: https://{{ include "unikorn.region.host" . }}
        - name: PUBLIC_KUBERNETES_HOST
          value: https://{{ include "unikorn.kubernetes.host" . }}
        - name: PUBLIC_APPLICATION_HOST
          value: https://{{ include "unikorn.application.host" . }}
        - name: PUBLIC_COMPUTE_HOST
          value: https://{{ include "unikorn.compute.host" . }}
        {{- if .Values.tls.private }}
        - name: NODE_EXTRA_CA_CERTS
          value: /var/run/secrets/unikorn-cloud.org/ca.crt
        {{- end }}
        envFrom:
        - secretRef:
            {{- if .Values.oauth2.clientSecretSecretName }}
            name: {{ .Values.oauth2.clientSecretSecretName }}
            {{- else }}
            name: {{ .Release.Name }}-oidc-secret
            {{- end }}
            optional: false
        securityContext:
          readOnlyRootFilesystem: true
        {{- if .Values.tls.private }}
        volumeMounts:
        - name: {{ .Release.Name }}-ingress-tls
          mountPath: /var/run/secrets/unikorn-cloud.org
        {{- end }}
      serviceAccountName: {{ .Release.Name }}
      securityContext:
        runAsNonRoot: true
      {{- if .Values.tls.private }}
      volumes:
      - name: {{ .Release.Name }}-ingress-tls
        secret:
          secretName: {{ .Release.Name }}-ingress-tls
      {{- end }}
